<header class="jumbotron hero-spacer" style="background-image:url(images/header.jpg);color:white;">
  <h1>Welcome to our Family!</h1>
  <p>
    This is site of our family. Here you can see our photos of last year joreny, out cat. Moreover you can read our family blog. And what is more, there is a dashboard of our social network activity.
  </p>
  <p>
    <%= link_to 'Read more about us', welcome_about_path, :class => "btn btn-primary btn-large" %>
  </p>
  </header>

  <hr>

  <div class="row text-center">
    <% if user_signed_in? %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= link_to folders_path do %>
            <%= image_tag 'lock.jpg' %>
          <% end %>
          <div class="caption">
            <h3>Private Storage</h3>
            <p>Here you can store your files and photos.</p>
            <p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <%= link_to 'Go to!', folders_path, :type => "button", :class => "btn btn-secondary btn btn-primary" %>
                <%= link_to 'More Info!', about_folders_path, :type => "button", :class => "btn btn-secondary btn btn-default" %>
              </div>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <%= link_to public_folder_path do %>
          <%= image_tag 'public.jpg' %>
        <% end %>
        <div class="caption">
          <h3>Public Storage</h3>
          <p>Our family folder: sea, jim, pets and love.</p>
          <p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to 'Go to!', public_folder_path, :type => "button", :class => "btn btn-secondary btn btn-primary" %>
              <%= link_to 'More Info!', about_public_folders_path, :type => "button", :class => "btn btn-secondary btn btn-default" %>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <%= link_to posts_path do %>
          <%= image_tag 'blog.jpg' %>
        <% end %>
        <div class="caption">
          <h3>Family Blog</h3>
          <p>Our plans, rules. tasks, wishes and thoughts.</p>
          <p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to 'Go to!', posts_path, :type => "button", :class => "btn btn-secondary btn btn-primary" %>
              <%= link_to 'More Info!', about_posts_path, :type => "button", :class => "btn btn-secondary btn btn-default" %>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <%= link_to root_path do %>
          <%= image_tag 'board.jpg' %>
        <% end %>
        <div class="caption">
          <h3>Family Dashboard</h3>
          <p>Here you cam monitore our social live.</p>
          <p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to 'Go to!', root_path, :type => "button", :class => "btn btn-secondary btn btn-primary" %>
              <%= link_to 'More Info!', root_path, :type => "button", :class => "btn btn-secondary btn btn-default" %>
            </div>
          </p>
        </div>
      </div>
    </div>

  </div>
