<header class="jumbotron hero-spacer" style="background-image:url(images/posts/empty.jpg);">
  <h1><%= @post.title %></h1>
  <span class="text-muted">Post created by <%= link_to @post.user.username %> on <%= @post.created_at.strftime('%b %d, %Y') %></span>
  <p>
    <%= @post.text %>
  </p>
  <p>
    <%= link_to image_url(@post.image) do %>
      <%= image_tag @post.image.show.url %><br>
    <% end %>
  </p>
</header>
