<!DOCTYPE html>
<html>
  <head>
    <title>HomeFiles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "source/header.html.erb" %>

    <div class="container">
      <% if notice %>
        <div class="alert alert-info", style="width:400px">
          <strong>Info!</strong> <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-warning", style="width:500px">
          <strong>Warning!</strong> <%= alert %>
        </div>
      <% end %>

    <%= yield %>

    <hr>
    <%= render 'source/footer.html.erb' %>

    </div>

  </body>
</html>
